<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.skycoder42.keepass.plugin.transfer" android:versionCode="1" android:versionName="1.0.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="@string/application_name" android:icon="@drawable/launcher_ic"></application>
</manifest>