[submodule "3rdparty/cryptopp/src"]
	path = 3rdparty/cryptopp/src
	url = https://github.com/weidai11/cryptopp
[submodule "3rdparty/QR-Code-generator/src"]
	path = 3rdparty/QR-Code-generator/src
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "3rdparty/keepass2android"]
	path = 3rdparty/keepass2android
	url = https://github.com/PhilippC/keepass2android.git
[submodule "3rdparty/qtcsv"]
	path = 3rdparty/qtcsv
	url = https://github.com/iamantony/qtcsv
