language: cpp

services:
  - docker

sudo: required
dist: trusty
osx_image: xcode10.1

env:
  global:
    - QPMX_CACHE_DIR=$HOME/.qpmx-cache
    - QT_VER_MINOR=5.12
    - QT_VER=${QT_VER_MINOR}.0
    - EXTRA_MODULES=".skycoder42"
    - DOCKER_IMAGE=full
    - NO_TESTS=true

matrix:
  include:
    - os: linux
      env:
        - PLATFORM=gcc_64
        - QMAKE_FLAGS="PREFIX=/deploy CONFIG+=no_quick"
    - os: linux
      env:
        - PLATFORM=flatpak
        - DOCKER_IMAGE=
        - DOCKER_IMAGE_BASE="base/archlinux:latest"
        - FLATDEP_DIR=deploy/flatpak
        - FLATPAK_MANIFEST=flatpak/de.skycoder42.kptransfer.json
    - os: linux
      env:
        - PLATFORM=emscripten
        - DOCKER_IMAGE=base
        - QMAKE_FLAGS="PREFIX=/wasm INSTALL_WWW=/wasm/www"
    #- os: linux
      #env:
        #- PLATFORM=android_arm64_v8a
    - os: linux
      env:
        - PLATFORM=android_armv7
    - os: linux
      env:
        - PLATFORM=android_x86
    - os: osx
      env:
        - PLATFORM=clang_64
        - QMAKE_FLAGS="PREFIX=/deploy CONFIG+=no_quick"

before_install:
  - git clone https://github.com/Skycoder42/QtModules.git ./qtmodules-travis
  - travis_wait 40 ./qtmodules-travis/ci/$TRAVIS_OS_NAME/setup.sh

script:
  - ./ci/travis_init.sh
  - ./qtmodules-travis/ci/$TRAVIS_OS_NAME/build.sh
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then ./ci/travis_postbuild.sh; fi

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: ultP5Os1hFNW9FXRQCNCH6zZ+TqdBAJIXkdINIVZCIPIm3Haipk7SWDUXN0ZC8w9iN3/efx7woiUTQB/euNHZXOPMVsTYfuzw/VxrOzgTnKQg/euUMvJedSf9UGW4yw6Ftm7/mR7RtrCp1nImHmnVLZqqEhbhsTc9PTcm7LC45jFnWHhOv6So1mCg1n/ckCkqZy+AIQVum25L2MPsKvMhezqoetU3g2h1KZJrEd1y5nSl1mF9YsYoIl9RUutqG5wewex7n6NXNOGdoj0eal+VtkzNRUvrJiNGsFiVbxn9oAIf72avQ2Pe4XDTwSboDnxI0uki3s2xiJ98NcDrpcgm1xiz9GgVsAp4nKXu5EGjWHKaFpkOp7bmhI9ssQQ06njwEO+E+mKaCsJxhYP5F5v5j+IxEWaS6GXtCIDQAwAgORktEY/MIZIXdYNusWgfy2yO8qJseFp4bFbfOhJO9cqcgHfp31RtdgqQdDk8T96ODd2ffz/O0czLTN7YfmCGOp2gqu5JWDwAXA/UaANBWVM+V8PD4+sRdY+R8CEN5+9LQCQxhy1RJ0naR7LANx1KK4jDgmTL/eZwx2Ch6Fk4ny13eVBh8KWqQikjmiYIwyVX8Y8o8SPfHiMhGB5YyHmQ/4j0Ih4uD6wpVwCwayAll0Noy3V6+p7WyxebzKffddZ2yI=
  file_glob: true
  file:
    - ./install/kptransfer-*.dmg
    - ./install/kptransfer-*.apk
    - ./install/flatpak_build.tar.xz
  on:
    repo: Skycoder42/KeepassTransfer
    tags: true

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -rf $HOME/.gradle/caches/*/plugin-resolution/
  - rm -rf $QPMX_CACHE_DIR/locks
  - rm -rf $QPMX_CACHE_DIR/tmp
  - sudo rm -rf flatpak-build/.flatpak-builder/build
  - sudo rm -rf flatpak-build/.flatpak-builder/rofiles
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache
    - $QPMX_CACHE_DIR
    - flatpak-build/.flatpak-builder
