<?xml version="1.0" encoding="UTF-8" ?>
<Settings name="Settings">
	<Include>QUrl</Include>
	<Include local="true">transferpreselection.h</Include>

	<TypeMapping key="url" type="QUrl"/>
	<Import>gui_settings.xml</Import>

	<ListNode key="preselected">
		<Entry key="key"
			   type="QString"/>
		<Entry key="confidential"
			   type="bool"
			   default="false"/>
		<Entry key="selected"
			   type="bool"
			   default="false"/>
	</ListNode>
	<Entry key="preselectedSetupDummy" type="bool">
		<Code>
			[&amp;](){
				if(!preselected.isSet()) {
					QStringList standardFields {
						QStringLiteral("Title"),
						QStringLiteral("UserName"),
						QStringLiteral("Password"),
						QStringLiteral("URL"),
						QStringLiteral("Notes")
					};
					for(const auto &amp;field : standardFields) {
						auto entry = preselected.push_deferred();
						entry->key = field;
						entry->confidential = (field == QStringLiteral("Password"));
						entry->selected = true;
					}
				}
				return false;
			}()
		</Code>
	</Entry>
</Settings>
