[Unit]
Description=Keepass Transfer Service Socket
Documentation=https://github.com/Skycoder42/KeepassTransfer
After=network.target
PartOf=kptservice.service

[Socket]
ListenStream=27352

[Install]
WantedBy=sockets.target
